/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Fixed horizontal scrolling when working animation with transform: translate */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  margin: 0;
}

/* Delete the color of the highlight that appears over a link while it's being tapped iOS */
a {
  -webkit-tap-highlight-color: transparent;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea,
input:not([type="radio"]):not([type="checkbox"]:not([class])) {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  border-radius: 30px;
  background-color: #ee5238;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}
.button:hover,
.button:active {
  background-color: #ee8d38;
}

.form {
  position: relative;
  display: grid;
  padding: 30px 25px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 15px 15px 20px rgba(72, 56, 52, 0.2);
  border-radius: 9px;
}
@media (min-width: 576px) {
  .form {
    width: 410px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .form {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .form {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .form {
    width: 945px;
  }
}
.form::after {
  content: "";
  position: absolute;
  top: -37px;
  right: 14px;
  width: 45px;
  height: 83px;
  background-image: url("../img/logo-rocket.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 992px) {
  .form::after {
    top: 50px;
    left: -100px;
    width: 90px;
    height: 160px;
  }
}

.form__error {
  display: grid;
  margin-bottom: 20px;
}

.form__error-text {
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #FFD2D2;
  font-size: 14px;
  line-height: 18px;
  color: #b94646;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
@media (min-width: 768px) {
  .form__fieldset {
    width: 410px;
    margin: 0 auto;
  }
}
.form__legend {
  margin-bottom: 20px;
  font-family: Circe;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #512117;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 992px) {
  .form__legend {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 48px;
  }
}
.form__item-remark {
  margin: 10px 0;
  font-size: 12px;
  color: #8d8d8d;
}
@media (min-width: 992px) {
  .form__item-remark {
    font-size: 13px;
  }
}
.form__label {
  display: grid;
  row-gap: 7px;
  font-size: 16px;
  color: #000;
}
.form__label:not(:last-child) {
  margin-bottom: 17px;
}
.form__label-text::after {
  content: "*";
  padding-left: 5px;
  font-size: 16px;
  line-height: 16px;
  color: #c69468;
}
.form__input {
  height: 40px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #e5e4e3;
}
.form__radio-label {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}
.form__radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__radio-input:checked + .form__radio-check::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #c69468;
}
.form__radio-check {
  order: -1;
  position: relative;
  top: 2px;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e5e4e3;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
}
.form__remark {
  margin-top: 10px;
  font-size: 12px;
  color: #c69468;
}
.form__remark::before {
  content: "*";
  padding-right: 3px;
  font-size: 16px;
}
.form__button {
  width: 100%;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .form__button {
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.quiz {
  position: relative;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 15px 15px 20px rgba(72, 56, 52, 0.2);
}
@media (min-width: 768px) {
  .quiz {
    width: 510px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .quiz {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .quiz {
    width: 940px;
    padding: 60px 80px;
  }
}
@media (min-width: 992px) {
  .quiz::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -100px;
    width: 95px;
    height: 180px;
    background-image: url("../img/logo-rocket.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .quiz::after {
    content: "";
    position: absolute;
    bottom: -230px;
    left: -230px;
    z-index: -1;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 20px solid #f2e6da;
  }
}

.quiz__items {}

.quiz__item {
  display: none;
}

.quiz__question {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  color: #512117;
}
@media (min-width: 576px) {
  .quiz__question {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .quiz__question {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .quiz__question {
    margin-bottom: 110px;
  }
}

.quiz__submit {
  display: none;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #f7f6f2;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.header {
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .header {
    min-height: 500px;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header {
    min-height: 875px;
  }
}
.header--empty {
  min-height: auto;
  padding-bottom: 0;
}
.header__bar {
  position: relative;
  z-index: 10;
}
.header__bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
@media (min-width: 992px) {
  .header__bar-wrapper {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .header__bar-wrapper {
    margin-top: 30px;
  }
}
.header__promo {
  padding-top: 10px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .header__promo {
    position: relative;
    z-index: 5;
    width: 300px;
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
  .header__promo {
    width: 500px;
    padding-top: 45px;
  }
}
@media (min-width: 1200px) {
  .header__promo {
    width: 600px;
    padding-top: 60px;
  }
}
.header__promo-title {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .header__promo-title {
    margin-bottom: 35px;
  }
}
@media (min-width: 992px) {
  .header__promo-title {
    margin-bottom: 50px;
  }
}
.header__promo-text {
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .header__promo-text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .header__promo-text {
    font-size: 20px;
    line-height: 26px;
  }
}
.header__promo-link {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .header__promo-link {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .header__promo-link {
    margin-top: 60px;
  }
}
.header__figure {
  position: relative;
  height: 370px;
  margin: 0 -15px;
}
@media (min-width: 576px) {
  .header__figure {
    width: 320px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .header__figure {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 475px;
  }
}
@media (min-width: 1200px) {
  .header__figure {
    width: 800px;
    height: 800px;
  }
}
.header__figure::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 40px;
  z-index: 2;
  width: 70px;
  height: 130px;
  background-image: url("../img/logo-rocket.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 768px) {
  .header__figure::before {
    width: 120px;
    height: 230px;
    left: 150px;
  }
}
@media (min-width: 1200px) {
  .header__figure::before {
    width: 190px;
    height: 345px;
    left: auto;
    top: 150px;
    right: 437px;
  }
}
.header__figure::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -40px;
  z-index: 1;
  box-sizing: content-box;
  height: 250px;
  width: 250px;
  border: 50px solid rgba(198, 148, 104, 0.2);
  border-radius: 50%;
  background-color: transparent;
}
@media (min-width: 768px) {
  .header__figure::after {
    left: auto;
    top: -90px;
    right: 50px;
    width: 400px;
    height: 400px;
    border-width: 75px;
  }
}
@media (min-width: 1200px) {
  .header__figure::after {
    top: -130px;
    width: 720px;
    height: 720px;
    border-width: 120px;
  }
}
.header__figure-picture {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 300px;
  height: 300px;
}
@media (min-width: 768px) {
  .header__figure-picture {
    width: 500px;
    height: 475px;
  }
}
@media (min-width: 1200px) {
  .header__figure-picture {
    width: 800px;
    height: 800px;
  }
}
.header__figure-picture::after {
  content: "";
  position: absolute;
  bottom: -65px;
  right: 110px;
  z-index: -1;
  width: 150px;
  height: 150px;
  border: 2px dashed #ea6043;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .header__figure-picture::after {
    width: 250px;
    height: 250px;
    bottom: 0;
    right: 200px;
  }
}
@media (min-width: 1200px) {
  .header__figure-picture::after {
    width: 420px;
    height: 420px;
    right: 300px;
    bottom: -50px;
  }
}
.header__figure-image {
  position: absolute;
  top: 0;
  right: -50px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .header__figure-image {
    top: -50px;
    right: -75px;
  }
}
@media (min-width: 992px) {
  .header__figure-image {
    top: -30px;
  }
}
@media (min-width: 1200px) {
  .header__figure-image {
    top: -50px;
  }
}
.header__figure-test {
  position: absolute;
  left: 75px;
  bottom: 25px;
  z-index: 5;
  display: grid;
  place-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ea6043;
}
@media (min-width: 768px) {
  .header__figure-test {
    left: 100px;
    bottom: 15px;
    width: 130px;
    height: 130px;
  }
}
@media (min-width: 1200px) {
  .header__figure-test {
    left: 120px;
    bottom: -15px;
    width: 250px;
    height: 250px;
  }
}
.header__figure-test-icon {
  width: 35px;
  height: 35px;
  fill: #fff;
}
@media (min-width: 768px) {
  .header__figure-test-icon {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .header__figure-test-icon {
    width: 100px;
    height: 100px;
  }
}

.menu__button {
  position: relative;
  z-index: 11;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/hamburger.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
@media (min-width: 992px) {
  .menu__button {
    display: none;
  }
}

.menu__button--open {
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url("../img/close.svg");
  background-size: 75% 75%;
}

.menu__list {
  display: none;
  padding: 0;
}
@media (min-width: 992px) {
  .menu__list {
    display: grid;
    grid-auto-flow: column;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
}
@media (min-width: 1200px) {
  .menu__list {
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}

.menu__list--open {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f7f6f2;
  display: block;
  width: 100%;
  height: 100vh;
  padding: 45px 0;
}

.menu__item {
  padding: 20px 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
@media (min-width: 992px) {
  .menu__item {
    padding: 0;
  }
}
.menu__item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
@media (min-width: 992px) {
  .menu__item:not(:last-child) {
    border-bottom: none;
  }
}

.menu__link {
  position: relative;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}
.menu__link:hover,
.menu__link:active {
  color: #ea6043;
}

.menu__link--active {
  padding-bottom: 3px;
  border-bottom: 3px solid tomato;
}
@media (min-width: 992px) {
  .menu__link--active {
    border-width: 5px;
  }
}

.user__logged {
  display: none;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.user__logged a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}
.user__logged a:hover,
.user__logged a:active {
  color: #ee5238;
}

.user__logged--out {
  grid-auto-flow: column;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.user--logged .user__logged--in {
  display: grid;
}

.user--logged-out .user__logged--out {
  display: grid;
}

@media (min-width: 768px) {
  .p-home__logged {
    color: #fff;
  }
}

@media (min-width: 1200px) {
  .why-need {
    position: relative;
  }
}

@media (min-width: 1200px) {
  .why-need::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: -700px;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: transparent;
    border: 125px solid #c69468;
  }
}

.why-need__wrapper {
  position: relative;
}
@media (min-width: 1200px) {
  .why-need__wrapper {
    padding-right: 210px;
  }
}
.why-need__wrapper::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -50px;
  box-sizing: content-box;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  border: 125px solid rgba(198, 148, 104, 0.12);
}
@media (min-width: 768px) {
  .why-need__wrapper::after {
    width: 500px;
    height: 500px;
    border-width: 150px;
  }
}
@media (min-width: 992px) {
  .why-need__wrapper::after {
    width: 700px;
    height: 700px;
  }
}
@media (min-width: 1200px) {
  .why-need__wrapper::after {
    left: -30px;
    width: 390px;
    height: 390px;
    border-width: 125px;
  }
}

.why-need__title {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .why-need__title {
    width: 600px;
    margin-bottom: 40px;
  }
}

.why-need__items {
  display: grid;
  row-gap: 35px;
}
@media (min-width: 1200px) {
  .why-need__items {
    grid-template-columns: 300px 300px;
    justify-content: space-between;
  }
}

.why-need__item {
  display: grid;
}
@media (min-width: 1200px) {
  .why-need__item:nth-child(2),
  .why-need__item:nth-child(4),
  .why-need__item:nth-child(6) {
    margin-top: -130px;
    margin-bottom: 130px;
  }
}

.why-need__item-icon {
  max-width: 70px;
  max-height: 70px;
  margin-bottom: 10px;
  fill: #c69468;
}

.why-need__item-text {
  margin-left: 25px;
  padding-left: 25px;
  padding-right: 75px;
  font-size: 16px;
  color: #000;
  border-left: 1px solid #c69468;
}

.why-need__figure {
  position: relative;
  height: 215px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .why-need__figure {
    width: 320px;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .why-need__figure {
    top: -150px;
    width: 570px;
  }
}

.why-need__ask {
  position: absolute;
  top: 0;
  left: -40px;
  z-index: 1;
  display: grid;
  place-items: center;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #ea6043;
}
@media (min-width: 1200px) {
  .why-need__ask {
    width: 300px;
    height: 300px;
    left: 20px;
  }
}

.why-need__ask-icon {
  width: 85px;
  height: 85px;
  fill: #fff;
}
@media (min-width: 1200px) {
  .why-need__ask-icon {
    width: 130px;
    height: 130px;
  }
}

.why-need__rocket {
  box-sizing: content-box;
  position: absolute;
  top: 10px;
  right: -20px;
  display: grid;
  place-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 15px solid #f0e7dd;
  background-color: transparent;
}
@media (min-width: 768px) {
  .why-need__rocket {
    right: -30px;
  }
}
@media (min-width: 1200px) {
  .why-need__rocket {
    right: -40px;
    width: 300px;
    height: 300px;
    border-width: 20px;
  }
}

.why-need__rocket-wrapper {
  display: grid;
  place-items: center;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  border: 2px dashed #c69468;
}
@media (min-width: 1200px) {
  .why-need__rocket-wrapper {
    width: 200px;
    height: 200px;
  }
}

.why-need__rocket-image {
  width: 57px;
  height: 103px;
}
@media (min-width: 1200px) {
  .why-need__rocket-image {
    width: 80px;
    height: 155px;
  }
}

.page-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  font-family: Circe, Tahoma, Geneva, Verdana, sans-serif;
  color: #512117;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-title {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (min-width: 1200px) {
  .page-title {
    font-size: 40px;
    line-height: 48px;
  }
}

.about-project {
  margin-bottom: 50px;
  padding-top: 40px;
}
.about-project__title {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .about-project__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 75px;
    column-gap: 75px;
  }
}
@media (min-width: 1200px) {
  .about-project__items {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 0;
    column-gap: 0;
  }
}
.about-project__item-title {
  margin-bottom: 20px;
  font-family: Circe;
  font-weight: 800;
  font-size: 18px;
  color: #ea6043;
}
@media (min-width: 768px) {
  .about-project__item-title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .about-project__item-title {
    margin-bottom: 25px;
    font-size: 24px;
  }
}
.about-project__item-text p {
  padding-left: 20px;
  border-left: 1px solid #ee5238;
  font-size: 14px;
  line-height: 23px;
}
@media (min-width: 768px) {
  .about-project__item-text p {
    padding-left: 25px;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .about-project__item-text p {
    padding-left: 40px;
  }
}
.about-project__item-text p {
  margin-bottom: 35px;
}
@media (min-width: 1200px) {
  .about-project__item-text p {
    margin-bottom: 50px;
  }
}
.about-project__item-picture {
  display: grid;
  align-items: center;
  justify-content: end;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  border: 2px dashed tomato;
  margin-top: 30px;
  margin-left: -50px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .about-project__item-picture {
    margin-left: -90px;
  }
}
@media (min-width: 1200px) {
  .about-project__item-picture {
    margin-top: -20px;
    margin-left: -200px;
    width: 440px;
    height: 440px;
  }
}
.about-project__item-image {
  position: relative;
  z-index: -1;
  width: 230px;
  height: 250px;
}
@media (min-width: 1200px) {
  .about-project__item-image {
    width: 350px;
    height: 370px;
    right: -65px;
  }
}
.about-project__figure {
  display: none;
}
@media (min-width: 1200px) {
  .about-project__figure {
    position: relative;
    top: 190px;
    left: -50px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .about-project__figure::after {
    content: "";
    position: absolute;
    top: -255px;
    right: -27px;
    width: 250px;
    height: 465px;
    background-image: url("../img/logo-rocket.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
.about-project__figure-picture {
  position: relative;
  width: 350px;
  height: 350px;
}
.about-project__figure-picture::after {
  content: "";
  position: absolute;
  bottom: -75px;
  right: -25px;
  z-index: -1;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: transparent;
  border: 20px solid #c69468;
}
.about-project__figure-image {
  width: 100%;
  height: 100%;
}
.about-project__info {
  position: absolute;
  top: 280px;
  right: 50px;
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ea6043;
}
.about-project__info-icon {
  width: 50px;
  height: 50px;
  fill: #fff;
}

.organizers__wrapper {
  padding-bottom: 35px;
  border-bottom: 2px solid #ee5238;
}
@media (min-width: 768px) {
  .organizers__wrapper {
    padding-bottom: 50px;
  }
}

.organizers__title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .organizers__title {
    margin-bottom: 50px;
  }
}

.organizers__items {
  display: grid;
  justify-content: center;
  row-gap: 40px;
}
@media (min-width: 576px) {
  .organizers__items {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 40px;
    column-gap: 40px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .organizers__items {
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 50px;
    column-gap: 50px;
  }
}

.organizers__item {
  display: grid;
  place-items: center;
  text-decoration: none;
  opacity: 0.9;
  transition: opacity 0.3s;
}
.organizers__item:hover,
.organizers__item:active {
  opacity: 1;
}

.organizers__item-image {
  max-width: 160px;
}
@media (min-width: 992px) {
  .organizers__item-image {
    max-width: 300px;
  }
}

.support {
  padding-top: 35px;
  padding-bottom: 40px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .support {
    padding-top: 100px;
  }
}
.support__wrapper {
  position: relative;
  display: grid;
}
@media (min-width: 1200px) {
  .support__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.support__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: -300px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: transparent;
  border: 115px solid rgba(198, 148, 104, 0.15);
}
@media (min-width: 1200px) {
  .support__wrapper::after {
    left: -380px;
    width: 600px;
    height: 600px;
  }
}
.support__icon-wrapper {
  position: absolute;
  top: -12px;
  left: 15px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #ea6043;
}
@media (min-width: 1200px) {
  .support__icon-wrapper {
    top: 20px;
    left: 30px;
    width: 100px;
    height: 100px;
  }
}
.support__icon {
  position: absolute;
  top: 22px;
  left: 14px;
  z-index: 1;
  width: 42px;
  height: 39px;
  fill: #fff;
}
@media (min-width: 1200px) {
  .support__icon {
    width: 55px;
    height: 50px;
    top: 30px;
    left: 20px;
  }
}
.support__title {
  margin-bottom: 35px;
  padding-left: 90px;
}
@media (min-width: 1200px) {
  .support__title {
    align-self: end;
    padding-left: 0;
    margin-bottom: 0;
  }
}
.support__contacts {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .support__contacts {
    align-self: end;
  }
}
.support__contacts-email {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  -moz-column-gap: 25px;
  column-gap: 25px;
}
@media (min-width: 1200px) {
  .support__contacts-email {
    grid-template-columns: 1fr;
    align-items: start;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: 25px;
  }
}
.support__contacts-email-icon {
  grid-row: span 2;
  width: 44px;
  height: 33px;
  fill: #c69468;
}
@media (min-width: 1200px) {
  .support__contacts-email-icon {
    grid-row: span 1;
    margin-left: -4px;
  }
}
.support__contacts-title {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
@media (min-width: 1200px) {
  .support__contacts-title {
    font-size: 20px;
    line-height: 24px;
  }
}
.support__contacts-link {
  justify-self: start;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}
.support__contacts-link:hover,
.support__contacts-link:active {
  color: #ea6043;
}
@media (min-width: 1200px) {
  .support__contacts-link {
    font-size: 24px;
    line-height: 28px;
  }
}
.support__figure {
  position: relative;
  justify-self: end;
}
.support__figure::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 60px;
  z-index: -1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px dashed #ea6043;
}
@media (min-width: 768px) {
  .support__figure::after {
    border-width: 2px;
  }
}
@media (min-width: 1200px) {
  .support__figure::after {
    width: 240px;
    height: 240px;
    right: 125px;
  }
}
.support__figure-image {
  width: 75px;
  height: 140px;
}
@media (min-width: 1200px) {
  .support__figure-image {
    position: relative;
    top: -20px;
    width: 150px;
    height: 280px;
  }
}

.footer {
  position: relative;
  z-index: 2;
  background-color: #f7f6f2;
  padding: 30px 0;
  border-top: 1px solid #ea6043;
}
@media (min-width: 992px) {
  .footer {
    padding: 40px 0;
  }
}
.footer--empty {
  padding: 0;
  border-top: none;
}
.footer__wrapper {
  display: grid;
  row-gap: 15px;
}
@media (min-width: 992px) {
  .footer__wrapper {
    grid-template-columns: 2fr 4fr 1fr;
    justify-content: center;
    -moz-column-gap: 50px;
    column-gap: 50px;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    -moz-column-gap: 100px;
    column-gap: 100px;
  }
}
.footer__item {
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 992px) {
  .footer__item {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 992px) {
  .footer__item:last-child {
    justify-self: end;
  }
}
.footer__link {
  color: #000;
  transition: color 0.3s;
}
.footer__link:hover,
.footer__link:active {
  color: #ea6043;
}

.p-login__header {
  position: relative;
  min-height: auto;
  padding-bottom: 0;
}

.p-login__header-bar {
  z-index: auto;
}

.p-login__header-bar-wrapper {
  position: relative;
  margin-top: 0;
}
.p-login__header-bar-wrapper::before {
  content: "";
  position: absolute;
  top: -350px;
  left: 80px;
  box-sizing: content-box;
  width: 590px;
  height: 590px;
  border: 150px solid #ead6c1;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .p-login__header-bar-wrapper::before {
    left: 250px;
  }
}
@media (min-width: 768px) {
  .p-login__header-bar-wrapper::before {
    left: 400px;
  }
}
@media (min-width: 1200px) {
  .p-login__header-bar-wrapper::before {
    left: 487px;
  }
}
@media (min-width: 992px) {
  .p-login__header-bar-wrapper::after {
    content: "";
    position: absolute;
    top: -105px;
    right: -90px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px dashed #c69468;
  }
}
@media (min-width: 1200px) {
  .p-login__header-bar-wrapper::after {
    right: 35px;
  }
}

.p-login__to-home {
  display: none;
}
@media (min-width: 992px) {
  .p-login__to-home {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #c69468;
    border-bottom: 2px dotted #c69468;
    text-decoration: none;
    transition: color 0.3s, border-color 0.3s;
  }
  .p-login__to-home:hover,
  .p-login__to-home:active {
    color: #ea6043;
    border-color: #ea6043;
  }
  .p-login__to-home:hover .p-login__to-home-icon,
  .p-login__to-home:active .p-login__to-home-icon {
    fill: #ea6043;
  }
}

@media (min-width: 992px) {
  .p-login__to-home-icon {
    width: 9px;
    height: 12px;
    margin-right: 9px;
    fill: #c69468;
  }
}

@media (min-width: 992px) {
  .p-login__menu .menu__list {
    display: none;
  }
}

.p-login__main {
  position: relative;
  padding-top: 10px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .p-login__main {
    padding-top: 30px;
  }
}

.p-login__main-wrapper {
  position: relative;
}
@media (min-width: 1200px) {
  .p-login__main-wrapper {
    padding-bottom: 450px;
  }
}
@media (min-width: 1200px) {
  .p-login__main-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 20px solid #f2e6da;
  }
}

.p-personal__form select,
.p-personal__form input {
  color: #8d8d8d;
}

@media (min-width: 992px) {
  .p-personal__form-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}

@media (min-width: 992px) {
  .p-personal__form-header label:not(:last-child) {
    margin-bottom: 0;
  }
}

.p-personal__form-items {
  margin: 17px 0;
}
@media (min-width: 992px) {
  .p-personal__form-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
}

.p-personal__form-radios {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 25px;
  column-gap: 25px;
  height: 40px;
}

@media (min-width: 768px) {
  .p-personal__fieldset {
    width: 100%;
  }
}

.p-personal__legend {
  font-size: 18px;
  line-height: 24px;
}
@media (min-width: 992px) {
  .p-personal__legend {
    font-size: 24px;
    line-height: 30px;
  }
}

.p-profile__header-bar {
  border-bottom: 1px solid #ea6043;
}

@media (min-width: 992px) {
  .p-profile__header-bar-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    height: 65px;
    margin-top: 0;
  }
}

.p-profile__header-bar-username {
  display: none;
}
@media (min-width: 992px) {
  .p-profile__header-bar-username {
    display: block;
  }
}

.p-profile__user {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
@media (min-width: 992px) {
  .p-profile__user {
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .p-profile__user-name {
    display: none;
  }
}

.p-profile__username {
  font-weight: bold;
  font-size: 16px;
  color: #ea6043;
}

.p-profile__logout {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
@media (min-width: 992px) {
  .p-profile__logout {
    -moz-column-gap: 15px;
    column-gap: 15px;
    text-decoration: none;
  }
}
@media (min-width: 992px) {
  .p-profile__logout:hover .p-profile__logout-text,
  .p-profile__logout:active .p-profile__logout-text {
    color: #ea6043;
  }
}
.p-profile__logout:hover .p-profile__logout-icon,
.p-profile__logout:active .p-profile__logout-icon {
  fill: #ea6043;
}

.p-profile__logout-icon {
  width: 24px;
  height: 24px;
  fill: #c69468;
  transition: fill 0.3s;
}

.p-profile__logout-text {
  display: none;
}
@media (min-width: 992px) {
  .p-profile__logout-text {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #c69468;
    transition: color 0.3s;
  }
}

.p-profile__main {
  padding: 20px 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .p-profile__main {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .p-profile__main {
    padding-top: 50px;
    padding-bottom: 125px;
  }
}
.p-profile__main-wrapper {
  position: relative;
}
.p-profile__main-wrapper::before {
  content: "";
  position: absolute;
  top: -150px;
  right: -30px;
  z-index: -1;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 110px solid #f0e6d9;
}
@media (min-width: 576px) {
  .p-profile__main-wrapper::before {
    top: auto;
    right: auto;
    left: -400px;
    bottom: -400px;
  }
}
@media (min-width: 992px) {
  .p-profile__main-wrapper::before {
    top: auto;
    right: auto;
    left: -400px;
    bottom: -350px;
  }
}
@media (min-width: 992px) {
  .p-profile__main-wrapper::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -430px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px dashed #c69468;
  }
}

.p-profile__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .p-profile__tabs {
    display: none;
  }
}

.p-profile__tab {
  margin-bottom: 20px;
  font-family: Circe;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  color: #c69468;
  border-bottom: 2px dotted #c69468;
}

.p-profile__tab--active {
  padding: 5px 7px;
  border-radius: 3px;
  background-color: #ee5238;
  border-bottom: 0;
  color: #fff;
}

@media (min-width: 768px) {
  .p-profile__items {
    display: grid;
    grid-template-columns: 1fr auto;
    -moz-column-gap: 50px;
    column-gap: 50px;
    align-items: start;
  }
}

@media (min-width: 1200px) {
  .p-profile__items {
    grid-template-columns: auto 410px;
    -moz-column-gap: 35px;
    column-gap: 35px;
  }
}

.p-profile__item {
  display: none;
}
@media (min-width: 768px) {
  .p-profile__item {
    display: grid;
  }
}

.p-profile__item--active {
  display: grid;
}

.p-profile__item-title {
  display: none;
}
@media (min-width: 768px) {
  .p-profile__item-title {
    display: inline-flex;
    justify-self: start;
    margin: 0;
    margin-bottom: 20px;
    font-family: Circe;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    color: #c69468;
    border-bottom: 2px dotted #c69468;
  }
}
@media (min-width: 992px) {
  .p-profile__item-title {
    margin-bottom: 25px;
  }
}

.p-profile__tests {
  row-gap: 5px;
}

.p-profile__tests-item {
  display: grid;
  row-gap: 10px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}
@media (min-width: 992px) {
  .p-profile__tests-item {
    grid-template-columns: 2fr 1fr 1fr auto;
    align-items: center;
  }
}

.p-profile__tests-title {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
@media (min-width: 768px) {
  .p-profile__tests-title {
    font-size: 16px;
    line-height: 20px;
  }
}

.p-profile__tests-status {
  justify-self: start;
  margin-bottom: 10px;
  padding: 7px 20px;
  border-radius: 25px;
  border: 2px solid tomato;
  background-color: transparent;
  font-size: 14px;
  color: #ea6043;
  text-decoration: none;
  transition: background-color 0.3s;
}
@media (min-width: 992px) {
  .p-profile__tests-status {
    justify-self: center;
    margin-bottom: 0;
  }
}
.p-profile__tests-status:hover,
.p-profile__tests-status:active {
  background-color: #ea6043;
  color: #fff;
}

.p-profile__tests-status--passed {
  color: #00ab19;
  border: 0;
  padding: 0;
  border-radius: 25px;
}
.p-profile__tests-status--passed:hover,
.p-profile__tests-status--passed:active {
  background-color: transparent;
  color: #00ab19;
}

.p-profile__tests-download {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #c69468;
  text-decoration: none;
  transition: color 0.3s;
}
.p-profile__tests-download:hover,
.p-profile__tests-download:active {
  color: #ea6043;
}

.p-profile__tests-download-icon {
  width: 20px;
  height: 24px;
  margin-right: 5px;
  fill: #c69468;
}

.p-profile__tests-mail {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #c69468;
  text-decoration: none;
  transition: color 0.3s;
}
.p-profile__tests-mail:hover,
.p-profile__tests-mail:active {
  color: #ea6043;
}

.p-profile__tests-mail-icon {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  fill: #c69468;
}

.p-profile__no-active {
  color: #ccc;
  fill: #ccc;
}

.p-profile__no-active:hover,
.p-profile__no-active:active {
  color: #ccc;
  fill: #ccc;
}

@media (min-width: 1200px) {
  .p-profile__contacts {
    position: relative;
    justify-self: end;
    padding-right: 140px;
  }
}

@media (min-width: 1200px) {
  .p-profile__contacts::after {
    content: "";
    position: absolute;
    top: -25px;
    right: 0;
    width: 110px;
    height: 200px;
    background-image: url("../img/logo-rocket.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.p-profile__contacts-wrapper {
  display: grid;
  row-gap: 10px;
}
@media (min-width: 768px) {
  .p-profile__contacts-wrapper {
    row-gap: 15px;
  }
}

.p-profile__contacts-title {
  position: relative;
  margin: 0;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.p-profile__contacts-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 55px;
  height: 4px;
  background-color: #ea6043;
}

.p-profile__contacts-item {
  font-size: 16px;
}

.p-profile__contacts-field {
  color: #8d8d8d;
}

.p-profile__contacts-value {
  color: #000;
}

.p-profile__contacts-button {
  display: flex;
  align-items: center;
  color: #c69468;
  transition: color 0.3s;
}
.p-profile__contacts-button:hover,
.p-profile__contacts-button:active {
  color: #ea6043;
}
.p-profile__contacts-button:hover .p-profile__contacts-button-icon,
.p-profile__contacts-button:active .p-profile__contacts-button-icon {
  fill: #ea6043;
}

.p-profile__contacts-button-icon {
  width: 25px;
  height: 25px;
  margin-right: 16px;
  fill: #c69468;
  transition: fill 0.3s;
}

.p-profile__form {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}
@media (min-width: 576px) {
  .p-profile__form {
    width: 240px;
  }
}
.p-profile__form::after {
  content: none;
}
.p-profile__form-button {
  width: 100%;
  margin-left: 0;
  margin-top: 5px;
  transform: none;
}
@media (min-width: 768px) {
  .p-profile__form-button {
    margin-top: 10px;
  }
}

.p-organizer__main {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .p-organizer__main {
    padding-top: 40px;
  }
}
@media (min-width: 1200px) {
  .p-organizer__main {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.p-organizer__wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .p-organizer__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    -moz-column-gap: 50px;
    column-gap: 50px;
  }
}
@media (min-width: 1200px) {
  .p-organizer__wrapper {
    -moz-column-gap: 80px;
    column-gap: 80px;
  }
}
.p-organizer__wrapper::after {
  content: "";
  position: absolute;
  top: -150px;
  left: -75px;
  z-index: -1;
  width: 935px;
  height: 935px;
  border-radius: 50%;
  border: 125px solid #f0e6d9;
}
@media (min-width: 576px) {
  .p-organizer__wrapper::after {
    top: -600px;
    left: auto;
    right: -200px;
  }
}
@media (min-width: 1200px) {
  .p-organizer__wrapper::after {
    right: -150px;
    top: -650px;
  }
}

.p-organizer__figure {
  display: none;
}
@media (min-width: 1200px) {
  .p-organizer__figure {
    position: absolute;
    top: 0;
    right: 130px;
    z-index: -1;
    display: grid;
    place-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px dashed #ea6043;
    background-color: transparent;
  }
}

.p-organizer__icon {
  display: none;
}
@media (min-width: 1200px) {
  .p-organizer__icon {
    position: absolute;
    top: 35px;
    right: 165px;
    display: grid;
    place-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ea6043;
  }
}

@media (min-width: 1200px) {
  .p-organizer__icon svg {
    height: 75px;
    height: 75px;
    fill: #fff;
  }
}

.p-organizer__title {
  margin-bottom: 25px;
}

.p-organizer__logo {
  width: 240px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .p-organizer__logo {
    grid-column-start: 1;
  }
}

.p-organizer__article {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
@media (min-width: 768px) {
  .p-organizer__article {
    grid-row: 3 / 6;
    grid-column-start: 2;
    margin-top: -100px;
  }
}
.p-organizer__article ol {
  padding-left: 15px;
}
.p-organizer__article ol li:not(:last-child) {
  margin-bottom: 10px;
}

.p-organizer__article-title {
  margin-bottom: 20px;
  font-family: Circe;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #512117;
}

.p-organizer__aside {
  display: grid;
  row-gap: 20px;
  color: #000;
}

.p-organizer__aside-item {
  display: grid;
  font-size: 16px;
  line-height: 20px;
}
.p-organizer__aside-item a {
  justify-self: start;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.p-organizer__aside-item a:hover,
.p-organizer__aside-item a:active {
  color: #ee5238;
}

.p-organizer__aside-title {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #c69468;
}

.p-organizer__aside-link {
  color: #ee5238;
}

.p-tests__main {
  position: relative;
}
@media (min-width: 768px) {
  .p-tests__main {
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
  .p-tests__main {
    padding-top: 50px;
  }
}
.p-tests__main::before {
  content: "";
  position: absolute;
  top: -130px;
  left: -25px;
  z-index: -1;
  width: 935px;
  height: 935px;
  border-radius: 50%;
  background-color: transparent;
  border: 115px solid #ede2d6;
}
@media (min-width: 576px) {
  .p-tests__main::before {
    left: auto;
    top: -500px;
    right: -500px;
  }
}
@media (min-width: 992px) {
  .p-tests__main::before {
    top: -500px;
    right: -330px;
  }
}
@media (min-width: 1200px) {
  .p-tests__main::before {
    right: -130px;
  }
}
@media (min-width: 992px) {
  .p-tests__main::after {
    content: "";
    position: absolute;
    top: 300px;
    left: -460px;
    z-index: -1;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    border: 50px solid #c69468;
  }
}
@media (min-width: 1200px) {
  .p-tests__main::after {
    left: -430px;
  }
}

.p-tests__rocket {
  display: none;
}
@media (min-width: 1200px) {
  .p-tests__rocket {
    display: block;
    position: absolute;
    top: 50px;
    right: 200px;
    width: 110px;
    height: 200px;
  }
}

.p-tests__figure {
  position: absolute;
  top: 15px;
  right: 35px;
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed #ea6043;
}
@media (min-width: 576px) {
  .p-tests__figure {
    right: 250px;
  }
}
@media (min-width: 992px) {
  .p-tests__figure {
    top: 0;
    right: 350px;
    width: 175px;
    height: 175px;
  }
}
@media (min-width: 1200px) {
  .p-tests__figure {
    right: 550px;
  }
}

.p-tests__figure-wrapper {
  display: grid;
  place-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #ea6043;
}
@media (min-width: 992px) {
  .p-tests__figure-wrapper {
    width: 115px;
    height: 115px;
  }
}

.p-tests__figure-icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}
@media (min-width: 992px) {
  .p-tests__figure-icon {
    width: 60px;
    height: 60px;
  }
}

.p-tests__title {
  margin-bottom: 110px;
}

.p-tests__article {
  margin-bottom: 35px;
}
@media (min-width: 992px) {
  .p-tests__article {
    margin-bottom: 50px;
  }
}

.p-tests__article-title {
  margin-bottom: 15px;
  font-family: Circe;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #512117;
}
@media (min-width: 992px) {
  .p-tests__article-title {
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 40px;
  }
}

@media (min-width: 1200px) {
  .p-tests__article-title {
    width: 62%;
  }
}

.p-tests__article-text {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
@media (min-width: 992px) {
  .p-tests__article-text {
    font-size: 18px;
    line-height: 22px;
  }
}

.p-tests__article-button {
  margin-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
}
@media (min-width: 992px) {
  .p-tests__article-button {
    margin-top: 30px;
  }
}

.p-result__main {
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .p-result__main {
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .p-result__main {
    padding-bottom: 100px;
  }
}

.p-result__promo {
  position: relative;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .p-result__promo {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .p-result__promo {
    margin-bottom: 60px;
  }
}
.p-result__promo::before {
  content: "";
  position: absolute;
  top: -400px;
  right: 30px;
  z-index: -1;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  border: 160px solid #ede2d6;
}
@media (min-width: 1200px) {
  .p-result__promo::before {
    right: auto;
    top: -350px;
    left: 15px;
  }
}
.p-result__promo::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 20px;
  width: 60px;
  height: 105px;
  background-image: url("../img/logo-rocket.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 1200px) {
  .p-result__promo::after {
    left: auto;
    right: 180px;
    width: 90px;
    height: 160px;
  }
}

.p-result__title {
  margin-bottom: 30px;
  font-size: 24px;
  text-transform: none;
  text-align: center;
}
@media (min-width: 768px) {
  .p-result__title {
    font-size: 40px;
  }
}

.p-result__picture {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .p-result__picture {
    margin-left: auto;
    margin-right: 130px;
    width: 540px;
    height: 540px;
  }
}

.p-result__image {
  width: 100%;
  height: 100%;
}

.p-result__figure {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px dashed #ea6043;
  background-color: transparent;
}
@media (min-width: 768px) {
  .p-result__figure {
    border-width: 2px;
  }
}
@media (min-width: 1200px) {
  .p-result__figure {
    left: 390px;
    bottom: 225px;
    width: 180px;
    height: 180px;
  }
}

.p-result__figure-wrapper {
  display: grid;
  place-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ea6043;
}
@media (min-width: 1200px) {
  .p-result__figure-wrapper {
    width: 125px;
    height: 125px;
  }
}

.p-result__figure-icon {
  width: 40px;
  height: 40px;
  fill: #fff;
}
@media (min-width: 1200px) {
  .p-result__figure-icon {
    width: 60px;
    height: 60px;
  }
}

.p-result__article {
  font-size: 16px;
  line-height: 20px;
}
.p-result__article ul {
  margin: 20px 0;
}
.p-result__article ul li:not(:last-child) {
  margin-bottom: 10px;
}

.p-result__article p {
  margin-bottom: 15px;
}

.p-result__share {
  display: grid;
  justify-content: start;
  row-gap: 15px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin: 35px 0;
}
@media (min-width: 576px) {
  .p-result__share {
    grid-auto-flow: column;
    align-items: center;
  }
}

.p-result__share-title {
  grid-column: span 3;
  font-size: 16px;
  color: #c69468;
}
@media (min-width: 576px) {
  .p-result__share-title {
    grid-column: auto;
    margin-right: 20px;
  }
}

.p-result__share-item {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ea6043;
  text-decoration: none;
  transition: background-color 0.3s;
}
.p-result__share-item:hover,
.p-result__share-item:active {
  background-color: #ea6043;
}

.p-result__share-item:hover .p-result__share-icon,
.p-result__share-item:active .p-result__share-icon {
  fill: #fff;
}

.p-result__share-icon {
  max-width: 24px;
  max-height: 24px;
  fill: #ea6043;
  transition: fill 0.3s;
}

.p-result__button {
  width: 100%;
}
@media (min-width: 576px) {
  .p-result__button {
    width: 290px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.p-test__main {
  padding-bottom: 50px;
}
@media (min-width: 576px) {
  .p-test__main {
    padding-top: 40px;
    padding-bottom: 75px;
  }
}
@media (min-width: 992px) {
  .p-test__main {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .p-test__main {
    padding-top: 150px;
  }
}

.p-test__wrapper {
  position: relative;
}
@media (min-width: 1200px) {
  .p-test__wrapper::before {
    content: "";
    position: absolute;
    top: -70px;
    left: -700px;
    z-index: -1;
    width: 875px;
    height: 875px;
    border-radius: 50%;
    border: 115px solid #ede2d6;
  }
}

.p-test__title {
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .p-test__title {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .p-test__title {
    width: 490px;
  }
}
@media (min-width: 1200px) {
  .p-test__title::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 15px;
    width: 55px;
    height: 4px;
    background-color: #ee5238;
  }
}

.p-test__picture {
  position: relative;
  right: -30px;
  width: 300px;
  height: 300px;
}
@media (min-width: 576px) {
  .p-test__picture {
    position: absolute;
    top: -120px;
    right: -75px;
    z-index: -1;
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 768px) {
  .p-test__picture {
    right: -90px;
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .p-test__picture {
    top: -275px;
    right: -105px;
    width: 705px;
    height: 705px;
  }
}
.p-test__picture::before {
  content: "";
  position: absolute;
  top: 35px;
  left: -40px;
  width: 85px;
  height: 160px;
  background-image: url("../img/logo-rocket.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .p-test__picture::before {
    top: 70px;
    left: -75px;
    width: 150px;
    height: 275px;
  }
}
@media (min-width: 1200px) {
  .p-test__picture::after {
    content: "";
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: -1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 25px solid #c69468;
  }
}

.p-test__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-test__figure {
  position: absolute;
  left: 0;
  bottom: -95px;
  display: grid;
  place-items: center;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 2px dashed #ea6043;
}
@media (min-width: 576px) {
  .p-test__figure {
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .p-test__figure {
    width: 290px;
    height: 290px;
  }
}

.p-test__figure-wrapper {
  display: grid;
  place-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ea6043;
}
@media (min-width: 1200px) {
  .p-test__figure-wrapper {
    width: 210px;
    height: 210px;
  }
}

.p-test__figure-icon {
  width: 40px;
  height: 50px;
  fill: #fff;
}
@media (min-width: 1200px) {
  .p-test__figure-icon {
    width: 70px;
    height: 90px;
  }
}

.p-test__text {
  padding-top: 110px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid #ea6043;
}
@media (min-width: 576px) {
  .p-test__text {
    padding-top: 140px;
  }
}
@media (min-width: 768px) {
  .p-test__text {
    padding-top: 170px;
  }
}
@media (min-width: 1200px) {
  .p-test__text {
    padding-top: 175px;
  }
}
.p-test__text p:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .p-test__text p:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .p-test__text p:not(:last-child) {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .p-test__text p:first-child {
    padding-right: 50%;
  }
}

.p-test__button {
  width: 100%;
}
@media (min-width: 576px) {
  .p-test__button {
    width: 290px;
    margin-left: 0;
    transform: none;
  }
}

.p-testing__main {
  padding-top: 20px;
  padding-bottom: 50px;
}
@media (min-width: 576px) {
  .p-testing__main {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .p-testing__main {
    padding-top: 40px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .p-testing__main {
    padding-top: 60px;
  }
}

.p-testing__wrapper {
  position: relative;
}

.p-testing__figure {
  position: absolute;
  top: -370px;
  left: 75px;
  z-index: -1;
  width: 870px;
  height: 870px;
  border-radius: 50%;
  border: 150px solid #ead6c1;
}
@media (min-width: 576px) {
  .p-testing__figure {
    left: 150px;
  }
}
@media (min-width: 992px) {
  .p-testing__figure {
    top: -500px;
    left: 400px;
  }
}
@media (min-width: 1200px) {
  .p-testing__figure {
    left: auto;
    right: -160px;
    display: grid;
    place-items: center;
  }
}
@media (min-width: 1200px) {
  .p-testing__figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border: 2px dashed #ea6043;
  }
}

.p-testing__figure-wrapper {
  display: none;
}
@media (min-width: 1200px) {
  .p-testing__figure-wrapper {
    display: grid;
    place-items: center;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #ea6043;
  }
}

@media (min-width: 1200px) {
  .p-testing__figure-icon {
    width: 110px;
    height: 90px;
    fill: #fff;
  }
}

.quiz {
  position: relative;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 15px 15px 20px rgba(72, 56, 52, 0.2);
}
@media (min-width: 768px) {
  .quiz {
    width: 510px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .quiz {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .quiz {
    width: 940px;
    padding: 60px 80px;
  }
}
@media (min-width: 992px) {
  .quiz::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -100px;
    width: 95px;
    height: 180px;
    background-image: url("../img/logo-rocket.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .quiz::after {
    content: "";
    position: absolute;
    bottom: -230px;
    left: -230px;
    z-index: -1;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 20px solid #f2e6da;
  }
}
.quiz--result {
  padding-top: 90px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 45px;
}
.quiz--result::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 40px;
  width: 58px;
  height: 105px;
  background-image: url("../img/logo-rocket.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .quiz--result::before {
    top: -100px;
    left: 40px;
    width: 105px;
    height: 205px;
  }
}
.quiz__item {
  display: none;
}
.quiz__question {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  color: #512117;
}
@media (min-width: 576px) {
  .quiz__question {
    margin-bottom: 30px;
  }
}
.quiz__radios {
  display: grid;
  row-gap: 5px;
}
.quiz__footer {
  margin-top: 25px;
}
@media (min-width: 992px) {
  .quiz__footer {
    display: flex;
    justify-content: space-between;
  }
}
.quiz__progress {
  display: grid;
  align-content: start;
  row-gap: 10px;
}
@media (min-width: 992px) {
  .quiz__progress {
    flex-grow: 1;
    margin-right: 50px;
  }
}
.quiz__progress-made {
  font-size: 18px;
  color: #c69468;
}
.quiz__progress-precent {
  font-weight: bold;
  color: #ea6043;
}
.quiz__progress-bar {
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: #f2e6da;
  overflow: hidden;
}
.quiz__progress-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background-color: #ea6043;
}
.quiz__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
@media (min-width: 576px) {
  .quiz__nav {
    width: 210px;
  }
}
@media (min-width: 992px) {
  .quiz__nav {
    margin-top: 0;
  }
}
.quiz__button-icon {
  width: 17px;
  height: 17px;
  fill: #ea6043;
}
.quiz__button-icon--next {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  fill: #fff;
}
.quiz__button--next {
  position: relative;
  padding-left: 30px;
  padding-right: 60px;
}
.quiz__thanks {
  display: none;
}
.quiz__thanks-title {
  margin-bottom: 45px;
  font-size: 22px;
  color: #512117;
  text-align: center;
}
.quiz__thanks-button {
  width: 100%;
}
@media (min-width: 576px) {
  .quiz__thanks-button {
    width: 290px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.quiz-think {}

.quiz-think__label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  justify-content: space-between;
}

.quiz-think__label:not(:last-child) {
  margin-bottom: 10px;
}

.quiz-think__select {
  height: 24px;
}