/*
#F6F6F6 - фон, белый текст
#212121 - затемнённый фон
#283043 - текст
#C42034 - наведение на меню и кнопки, кнопки, поля ввода
#84A3BE - фон выдвижного меню моб. и кнопок услуг моб.
 */

.wrapper
{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.bg
{
    width: 100%;
    max-height: 1292px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
    background: #84A3BE;
    overflow: hidden;
}
.bg-with-map
{
    z-index: 1;
    left: 55px;
}
.bg .mask
{
    max-width: 100%;
    width: 100%;
    display: block;
    position: relative;
    right: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
    pointer-events: none;
}
.dark
{
    background: rgba(0, 0, 0, 0.50);
}
.dark-blue
{
    background: rgba(132, 163, 190, 0.8);
}
.deep-blue
{
    background: rgba(132, 163, 190, 0.6);
}
.mask-with-map
{
    z-index: 2;
}
.bg .image
{
    width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    left: 400px;
    top: 0;
    z-index: -2;
}
.bg .video
{
    width: 200%; /*120*/
    height: auto;
    max-height: 175%;
    position: absolute;
    left: -30%; /*8*/
    top: 0;
    z-index: -2;
}
.bg .map
{
    width: 1200px;
    height: 1200px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.wave-up
{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background: url("../img/backgrounds/bg-wave-up2.svg") no-repeat;
    background-size: 110% 100%;
}

.header
{
    width: 100%;
    position: relative;
    z-index: 3;
}
.header-fixed
{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #F6F6F6;
    opacity: 0.9;
}
.header-fixed-dark
{
    background: #283043;
    opacity: 0.9;
}
.header .nav
{
    width: 100%;
    display: inline-block;
    margin-top: 22px;
    /*font-size: 1.2vmax;*/
}
.nav .logo
{
    width: 27px;
    height: 27px;
    display: none;
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 16;
    vertical-align: top;
    background: url("../img/logo-mob.png") no-repeat;
    background-size: cover;
}
.btn-burger
{
    display: none;
    position: relative;
    top: 5px;
    left: 40px;
    z-index: 16;
    vertical-align: bottom;
    text-align: left;
    cursor: pointer;
}
.btn-burger i
{
    display: block;
    width: 25px;
    height: 4px;
    margin: 4px auto;
    background: #F6F6F6;
}
.black-burger i
{
    background: #283043;
}
.menu-mob
{
    display: none;
    position: relative;
    top: 5px;
    left: 45px;
    z-index: 16;
    vertical-align: bottom;
    color: #F6F6F6;
}
.menu-close
{
    display: none;
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: 16;
    font-size: 72px;
    color: #F6F6F6;
}
.menu-footer
{
    display: none;
}
.top-menu
{
    display: flex;
    justify-content: space-between;
}
.nav ul li
{
    display: inline-block;
}
.nav ul li a
{
    color: #283043;
    text-decoration: none;
}
.nav ul li a.white_txt
{
    color: #F6F6F6;
}
.nav ul li a:hover
{
    color: #C42034;
}
.header .social
{
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 20px;
    right: 25px;
}
.social .soc
{
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-left: 20px;
}
.social .instagram
{
    background: url("../img/icons/instagram.svg")no-repeat center center;
    background-size: cover;
}
.social .facebook
{
    background: url("../img/icons/facebook.svg")no-repeat center center;
    background-size: cover;
}
.social .whatsapp
{
    background: url("../img/icons/whatsapp.svg")no-repeat center center;
    background-size: cover;
}
.social .youtube
{
    width: 30px;
    height: 22px;
    display: inline-block;
    margin-bottom: 4px;
    background: url("../img/icons/youtube.svg")no-repeat center center;
    background-size: cover;
}
.social .instagram-black
{
    background: url("../img/icons/instagram-black.svg")no-repeat center center;
    background-size: cover;
}
.social .facebook-black
{
    background: url("../img/icons/facebook-black.svg")no-repeat center center;
    background-size: cover;
}
.social .whatsapp-black
{
    background: url("../img/icons/whatsapp-black.svg")no-repeat center center;
    background-size: cover;
}
.social .youtube-black
{
    width: 30px;
    height: 22px;
    display: inline-block;
    margin-bottom: 4px;
    background: url("../img/icons/youtube-black.svg")no-repeat;
    background-size: cover;
}

.catalog-nav
{
    width: 60px;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding-left: 24px;
    background: #F6F6F6;
}
.catalog-nav .logo
{
    width: 27px;
    height: 80px;
    display: inline-block;
    margin-top: 25px;
    vertical-align: top;
    background: url("../img/logo.png") no-repeat;
    background-size: 100% 100%;
}
.catalog-nav .catalog-title
{
    width: 110px;
    margin: 180px 0 100px -40px; /*adaptive*/
    vertical-align: bottom;
    font-size: 16px; /*adaptive*/
    transform: rotate(-90deg);
    background: #F6F6F6;
}
.catalog-title .arrow
{
    width: 25px;
    height: 25px;
    display: inline-block;
    padding-right: 2px;
    transform: rotate(92deg);
}
.catalog-nav .catalog-icons
{
    width: 30px;
    height: 500px; /*adaptive*/
    display: inline-block;
    background: url("../img/icons/catalog.png")no-repeat;
    background-size: contain;
    cursor: pointer;
}
.catalog-menu-dark
{
    background: none !important;
}
.catalog-nav .catalog-menu
{
    width: 250px;
    display: none;
    margin-left: 32px;
    background: #F6F6F6;
    opacity: 0.9;
}
.catalog-menu li
{
    padding-bottom: 7%;
    padding-left: 10px;
    font-size: 16px;
}
.catalog-menu li a
{
    color: #283043;
    text-decoration: none;
}
.catalog-menu li a.white_txt
{
    color: #F6F6F6;
}
.catalog-menu li a:hover
{
    color: #C42034;
}
.catalog-icons:hover .catalog-menu
{
    display: inline-block;
}

.content
{
    position: relative;
    min-height: 630px;
    margin-bottom: 10%;
}
.content-with-map
{
    z-index: 1;
    pointer-events: none;
}

.logo-max
{
    width: 660px;
    height: 630px;
    position: absolute;
    top: 150px;
    left: 100px;
    background: url("../img/content/m.png")no-repeat center center;
    background-size: 100% 100%;
	transform: rotate(15deg);
}
.logo-max:hover
{
    background: url("../img/content/m-l.png")no-repeat center center;
    background-size: 100% 100%;
}
.description
{
    width: 35%;
    position: absolute;
    top: 250px;
    right: 0;
    vertical-align: top;
    text-align: center;
}
.description h1
{
    font-size: 30px;
    color: #283043;
}
.description p
{
    color: #283043;
}

.about
{
    margin-top: 100px;
    text-align: center;
    color: #283043;
}
.advantages
{
    margin-top: 120px;
}
.advantage
{
    width: 20%;
    padding-right: 30px;
    text-align: center;
}
.reviews
{
    margin-top: 90px;
}
.reviews h3
{
    padding: 50px 0;
}
.reviews img
{
    margin-bottom: 40px;
}

.head
{
    width: 100%;
    margin-top: 111px;
    border-bottom: 1px solid rgba(40, 48, 67, 0.5);
}
.head h2
{
    font-size: 24px;
}
.head a
{
    display: inline-block;
    margin: 10px 0;
}
.subhead
{
    margin-top: 15px;
    margin-bottom: 80px;
}
.subhead a
{
    display: inline-block;
    color: #C42034;
}
.subhead span
{
    display: inline-block;
}

.company
{
    width: 169.4px;
    height: 148.54px;
    display: inline-block;
    position: relative;
    margin: 25px 0;
    margin-right: 36px;
}
.company:nth-child(5n+5)
{
    margin-right: 0;
}
.company img
{
    width: 100%;
    height: 100%;
}
.company a
{
    display: none;
    position: absolute;
    top: 2%;
    left: 7%;
    padding: 32% 14%;
    color: #C42034;
    background: rgba(246, 246, 246, 0.8);
}
.company:hover a
{
    display: block;
}

.services button
{
    width: 325.5px;
    height: 55px;
    display: inline-block;
    margin-bottom: 24px;
    margin-right: 9px;
    border-radius: 50px;
    background: #ffffff;
}
.services button:hover
{
    color: #F6F6F6;
    background: #C42034;
}

.service .portfolio-work
{
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 35px;
}
.portfolio-work img
{
    width: 323px;
    height: 254px;
    display: block;
}
.portfolio-work p
{
    display: block;
    padding-top: 22px;
    text-align: center;
}

.more img
{
    margin-bottom: 50px;
}

.count-form
{
    display: inline-block;
    margin-top: 33px;
    padding: 60px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.count-form b
{
    display: block;
    margin-bottom: 25px;
}
.count-form p
{
    text-align: left;
}
.count-form div
{
    margin-bottom: 25px;
}
.count-form select, .count-form input[type="text"]
{
    width: 100%;
    padding: 5px 0;
    border-bottom: 2px solid #C42034;
    outline: none;
}

/* Customize the label (the container) */
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
}
/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    border: 1px solid #C42034;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: #C42034;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Customize the label (the container) */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom radio button */
.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radiomark {
    border: 1px solid #C42034;
}
/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radiomark {
    background-color: #C42034;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radiomark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.radio-container .radiomark:after {
    top: 7px;
    left: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

.count-form .step5 p
{
    font-size: 12px;
    color: #ccc;
}
.count-form .file-upload
{
    width: 100%;
    height: 30px;
    background: url("../img/icons/clip.png")no-repeat left center;
    background-size: 5% 50%;
    border-bottom: 2px solid #C42034;
    outline: none;
}
.count-form .rules-check label
{
    margin-top: 15px;
    font-size: 14px;
    color: #283043;
}
.count-form .rules-check label a
{
    font-size: 14px;
    color: #283043;
    border-bottom: 1px dashed #283043;
}
.count-form .rules-check label a:hover
{
    text-decoration: none;
}
.btn
{
    display: inline-block;
    padding: 5px 50px;
    color: #F6F6F6;
    background: #C42034;
}
.btn:hover
{
    color: #F6F6F6;
}
.prev-step, .next-step
{
    border-radius: 20px;
}
.count-btn
{
    margin-top: 25px;
    border-radius: 0;
}
.c-info
{
    display: inline-block;
    margin-top: 120px;
    color: #283043;
}

.faq
{
    margin-top: 100px;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide, .hide + label ~ div {
    display: none;
}
/* вид текста label */
.hide + label,
.hide:checked + label {
    width: 100%;
    padding: 15px 30px;
    cursor: pointer;
}
.hide + label:hover, .hide + label:hover .hide + label:before
{
    color: #e01835;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: #e01835;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    padding-left: 100px;
    padding-bottom: 15px;
}
.hide + label:before {
    color: #283043;
    content: "\2039";
    transform: rotate(-90deg);
    display: block;
    float: left;
    font-size: 25px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    margin: 0 5px;
    text-align: center;
    width: 26px;
}
.hide:checked + label:before {
    content: "\2039";
    transform: rotate(90deg);
    color: #e01835;
}

.contacts div
{
    margin-top: 70px;
}
.contacts div:last-child
{
    color: #C42034;
    text-transform: uppercase;
    text-decoration: underline;
}
.map-mob
{
    display: none;
}

.house
{
    margin-bottom: 250px;
}
.house-light-mob
{
    display: none;
}
.house-dark-mob
{
    display: none;
}
.house-light
{
    width: 784px;
    height: 644px;
}
.house-dark
{
    width: 784px;
    height: 644px;
    display: none;
}
.info
{
    position: relative;
    z-index: 5;
    display: inline-block;
    margin-top: 50px;
    color: #283043;
}
.go-count
{
    font-weight: 500;
    padding: 10px 50px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sonlight
{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    background: url("../img/icons/sonlight.svg")no-repeat;
    background-size: contain;
}
.son
{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    background: url("../img/icons/son.svg")no-repeat;
    background-size: contain;
}
.moonlight
{
    width: 40px;
    height: 46px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    background: url("../img/icons/moonlight.svg")no-repeat;
    background-size: contain;
}
.moon
{
    width: 40px;
    height: 46px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    background: url("../img/icons/moon.svg")no-repeat;
    background-size: contain;
}
.light-trigger
{
    position: relative;
    z-index: 5;
    left: 126px;
}
#sketch-light
{
    width: 320px;
    height: 160px;
    display: inline-block;
    margin-left: 20%;
    margin-top: 100px;
}
#sketch-dark
{
    width: 320px;
    height: 160px;
    display: none;
    margin-left: 20%;
    margin-top: 100px;
}
.characteristics
{
    display: inline-block;
    margin-top: 100px;
    color: #283043;
}
.slider
{
    margin-top: 200px;
    padding: 0 50px;
}
.slider-3d
{
    display: none;
}
.big
{
    position: relative;
    left: 200px;
    z-index: 10;
}
.medium
{
    position: relative;
    right: 200px;
    z-index: 5;
}
.my-flipster
{
    display: none;
}
.my-flipster .slide
{
   width: 400px;
}

.catalog-img-max
{
    width: 517px;
    height: 400px;
    margin-top: 100px;
}
.catalog-description
{
    color: #283043;
    top: 100px;
    text-align: left;
}

.catalog-preview
{
    width: 100%;
    display: inline-block;
    margin-bottom: 35px;
}
.catalog-preview img
{
    width: 100%;
}
.catalog-preview p
{
    display: block;
    padding-top: 22px;
    text-align: center;
}

.footer
{
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding: 9px;
    font-size: 12px;
    line-height: 13px;
    text-align: right;
}
.footer .confidence
{
    display: inline-block;
}
.footer .confidence ul li
{
    display: inline-block;
    margin-left: 100px;
}
.footer .confidence ul li a
{
    text-decoration: none;
    color: #283043;
}
.footer .confidence ul li a:hover
{
    color: #C42034;
}
.footer .copyright
{
    display: inline-block;
    padding-top: 60px;
    color: #283043;
    text-decoration: underline;
    transform: rotate(-90deg);
}